/* By default, it's inline. However, Bootstrap displays normal controls as blocks.*/
.bootstrap-select {
    display: block !important;
    width: 100% !important;
}

/* Hide the caret since form-select has its own.*/
.form-select.dropdown-toggle::after {
    display: none !important;
}

.container{
    max-width: 960px;
}