<div class="modal fade" id="recipe-modal-template" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <img class="recipe-modal-img mx-auto d-block mb-3" src="">
                <p class="recipe-summary px-lg-5"></p>
            </div>
            <div class="modal-footer justify-content-center">
                <nav aria-label="Recipe page navigation">
                    <ul class="pagination m-0">
                        <li class="page-item active">
                            <a class="page-link" href="#" aria-current="page">Summary</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Requirements</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Instructions</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>