<div class="modal fade" id="recipe-modal-template" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="page-1">
                    <img class="recipe-modal-img mx-auto d-block mb-3" src="">
                    <p class="recipe-summary px-lg-5"></p>
                </div>
                <div class="page-2 d-none">
                    <div class="container">
                        <h2>Ingredients</h2>
                        <hr>
                        <div class="row row-cols-6 justify-content-start g-3 mb-4">
                            <div id="req-ingr-template" class="req-ingr col text-center">
                                <div class="quantity text-truncate"></div>
                                <img class="img-fluid my-2" src="">
                                <div class="name text-truncate"></div>
                            </div>
                        </div>
                        <h2>Equipment</h2>
                        <hr>
                    </div>
                </div>
                <div class="page-3 d-none">
                    <ol class="recipe-instructions px-lg-5"></ol>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <nav aria-label="Recipe details navigation">
                    <ul class="pagination m-0">
                        <li class="page-item active">
                            <a class="page-link" data-page=".page-1" aria-current="page">Summary</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" data-page=".page-2">Requirements</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" data-page=".page-3">Instructions</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>