
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h2>Ingredients</h2>
        </div>
        <div id="radio-units" class="col-auto btn-group btn-group-sm" role="group"
             aria-label="Ingredient units">
            <input type="radio" class="btn-check" name="units" id="radio-units-metric"
                   data-unit="metric" autocomplete="off">
            <label class="btn btn-outline-primary" for="radio-units-metric">Metric</label>

            <input type="radio" class="btn-check" name="units" id="radio-units-us"
                   data-unit="us" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="radio-units-us">US</label>
        </div>
    </div>
    <hr>
    <div class="row row-cols-6 justify-content-start g-3 mb-4">
        <div id="req-ingr-template" class="req-ingr col text-center">
            <div class="quantity text-truncate"></div>
            <img class="img-fluid my-2" src="">
            <div class="name text-truncate"></div>
        </div>
    </div>
    <h2>Equipment</h2>
    <hr>
    <div class="row row-cols-6 justify-content-start g-3 mb-4">
        <div id="req-equip-template" class="req-equip col text-center">
            <img class="img-fluid my-2" src="">
            <div class="name text-truncate"></div>
        </div>
    </div>
</div>